@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
.encabezado {
  grid-area: encabezado;
  background-color: rgba(245, 245, 220, 0.881);
  width: 100%; }

.grid-contain {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 10px;
  padding: 10px;
  grid-auto-flow: dense;
  border-radius: 0.5px; }
  .grid-contain .grid-item1 {
    background-image: url(../img/cafe0.avif);
    border-radius: 10px; }
  .grid-contain .grid-item2 {
    background-image: url(../img/cafe1.jpg);
    border-radius: 10px; }
  .grid-contain .grid-item3 {
    background-image: url(../img/cafe2.jpg);
    border-radius: 10px; }
  .grid-contain .grid-item4 {
    background-image: url(../img/cafe3.jpg);
    border-radius: 10px; }
  .grid-contain .grid-item5 {
    background-image: url(../img/cafe4.jpg);
    border-radius: 10px; }
  .grid-contain .grid-item6 {
    background-image: url(../img/cafemelfi.jpg);
    border-radius: 10px; }
  .grid-contain .grid-item7 {
    background-image: url(../img/g1.jpg);
    border-radius: 10px; }
  .grid-contain .grid-item8 {
    background-image: url(../img/g5.jpg);
    border-radius: 11px; }

.cuerpo {
  grid-area: cuerpo;
  background-color: rgba(245, 245, 220, 0.881); }
  .cuerpo .fotos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .cuerpo .fotos .fotos1 {
      display: flex;
      flex-wrap: wrap;
      padding: 0.5rem;
      margin: 0.5rem;
      height: 400px;
      width: 45%; }

.footer {
  grid-area: footer;
  background-color: #8c96a0; }
  .footer .container__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 100%;
    margin: auto;
    margin-top: 100px; }
    .footer .container__footer .box__footer {
      display: flex;
      flex-direction: column;
      padding: 40px; }
      .footer .container__footer .box__footer .logo img {
        width: 180px; }
      .footer .container__footer .box__footer .terms {
        max-width: 350px;
        margin-top: 20px;
        font-weight: 500;
        color: white;
        font-size: 18px; }
      .footer .container__footer .box__footer h2 {
        margin-bottom: 30px;
        color: white;
        font-weight: 700; }
      .footer .container__footer .box__footer a {
        margin-top: 10px;
        color: white;
        font-weight: 600; }
      .footer .container__footer .box__footer a:hover {
        opacity: 0.8; }
      .footer .container__footer .box__footer a .fab {
        font-size: 20px; }
  .footer .box-derechos {
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px; }
  .footer p {
    margin-top: 20px;
    color: #7a7a7a; }
  .footer hr {
    border: none;
    height: 1px;
    background-color: #7a7a7a; }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  height: 100%; }

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: chartreuse; }

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center; }

.contacto {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: beige; }

  .contacto-titulo{
    font-size: 50px;
    font-family: 'Bellefair', serif;
    font-weight: 400;
    margin-bottom: 70px;
    text-transform: uppercase;
  }

.contacto__image-wrapper {
  height: 100%;
  width: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; }

.contacto__image {
  width: 100%; }

.contacto-ladoDerecho {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 0 7.3% 0 4.7%;
  width: 50%; }

.contacto__form-wrapper, .contacto__input-line {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 100%; }

.contacto__input-line {
  margin-bottom: 45px; }

.contacto__label {
  font-size: 100px;
  font-weight: 600; }

.contacto__input {
  height: 30px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  background-color: transparent; }

.contacto__input--textarea {
  height: 100px;
  outline: none;
  padding: 5px 0;
  border-bottom: 2px solid #121212;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
  color: #121212;
  resize: none;
  background-color: transparent; }

.contacto-boton-enviar {
  padding: 18px 55px;
  background-color: #121212;
  border-radius: 50px;
  color: #f2f2f2;
  font-weight: 600;
  border: none;
  font-size: 18px;
  cursor: pointer; }

.contacto-boton-enviar:hover {
  background-color: #2e2e2e; }

.grid-container {
  display: grid;
  grid-template: "encabezado"  200px
 "cuerpo"    auto
 "footer"  auto; }

@media (min-width: 600px) {
  .grid-container {
    grid-template: "encabezado encabezado" 200px
 "cuerpo cuerpo"   auto
 "footer  footer" auto; } }

@media (min-width: 900px) {
  .grid-container {
    grid-template: "encabezado encabezado encabezado"  200px
 "cuerpo cuerpo cuerpo"  auto
 "footer  footer footer"  auto /
 200px    auto   200px; } }
