@import"./base/variables";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import "./partials/header";
@import"./partials/galeria";
@import"./partials/cuerpo";
@import"./partials/footer";
@import"./partials/contacto";
@import"./partials/franquicias";
@import"./partials/nuestro-cafe";


@font-face {
  font-family: "cafes";
  src: url(../fonts/white_and_black.zip);
}


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: chartreuse;

}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template:
    "encabezado"  200px
    "cuerpo"    auto
    "footer"  auto;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "encabezado encabezado" auto
      "cuerpo cuerpo"   auto
      "footer  footer" auto
      
  }
 }
@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "encabezado encabezado encabezado"  200px
      "cuerpo cuerpo cuerpo"  auto
      "footer  footer footer"  auto /
      200px  auto   200px;
  }
}

.titulo{
  padding: 2rem;
  font-family: "cafes";
}

.lorem{
  padding: 5rem;
  font-family: "cafes";
}
h2{
  font-family: "cafes";
}










  
 














  
