@import"./base/variables";
@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");
@import "./partials/header";
@import"./partials/galeria";
@import"./partials/cuerpo";
@import"./partials/footer";
@import"./partials/contacto";
@import"./partials/franquicias";
@import"./partials/nuestro-cafe";


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: "Public Sans", sans-serif;
  font-size: 1.2rem;
  min-height: 100%;
  background-color: chartreuse;

}

.grid-container > * {
  box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template:
    "encabezado"  200px
    "cuerpo"    auto
    "footer"  auto;
}

@media (min-width: 600px) {
  .grid-container {
    grid-template:
      "encabezado encabezado" 400px
      "cuerpo cuerpo"   auto
      "footer  footer" auto
      
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "encabezado encabezado encabezado"  200px
      "cuerpo cuerpo cuerpo"  auto
      "footer  footer footer"  auto /
      200px  auto   200px;
  }
}

.titulo{
  padding: 2rem;
}



.lorem{

  padding: 5rem;
}

.franquicia-1{
  margin: 10px;
  height: 500px;
  display: flex;
  flex-direction: row;
  

}
.franq-1{
  margin: 10px;
  width: 50%;
  height: 480px;
  text-align: end;
}




.franquicia-2{
  margin: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 10px;
  margin-top: 100px;
  justify-content: center;
  

}

.franq-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 270px;
  height: 450px;
  margin: 20px;
  border-radius: 10px;
  
 
}

.franquicia-3{
  margin: 10px;
  height: 500px;
  display: flex;
  flex-direction: row;

}
.franq-3{
  margin: 10px;
  width: 50%;
  height: 480px;
}
 














  
