.cuerpo {
    grid-area: cuerpo;
    background-color: $color-principal;
    margin-top: auto;
    .carrusel{
        height: 400px;
        width: 100%;
        margin-top: 1rem;
        margin-bottom: 2rem;
       }
    .fotos{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        width: 100%;
       
        
       
        .fotos1{
            height: 500px;
            width: 600px;
            border-radius: 20px;
            
        }
    }

    .fotos-1{
        display: flex;
        margin-top: 100px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        .fotos2{
            border-radius: 20px;
            width: 400px;
        }
       }
       }
       
       
    
  