.footer {
    grid-area: footer;
    background-color: #8c96a0;
    .container__footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 100%;
        margin: auto;
        margin-top: 50px;
        gap: 1rem;

        .box__footer{
            display: flex;
            flex-direction: column;
            padding: 5px;
             .logo img{
                width: 100px;
                border-radius: 20px;
                
            }
            .terms{
                max-width: 350px;
                margin-top: 20px;
                font-weight: 500;
                color: white;
                font-size: 18px;
            }
             
            h2{
                margin-bottom: 50px;
                color:white;
                font-weight: 700;
            }
            a{
                margin-top: 10px;
                color: white;
                font-weight: 600px;
                font-family: "cafes";
                a:hover{
                    opacity: 0.8;
                }
                a .fab{
                    font-size: 20px;
                }
            }
            
        }
    }
    .box-derechos{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        padding: 0px 40px;
    }
    
     p{
        margin-top: 20px;
        color:white;
    }
    
     hr{
        border: none;
        height: 1px;
        background-color: white;
    } 
    


    }
  