.franquicia{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    .franquicia-img{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: rem;
        width: 450px;
        height: 300px
        .img-franq{
            width: 350px ;
            height: 300px;
          }
      }
      .franquicia-1{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        .img-franq-2{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 300px;
            height: 400px;
            margin-top: 5rem;
            margin-bottom: 5rem;
            border-radius: 10px;
          
            }
      
      }
  }
